{% extends "base.html" %}


{% block title %}
Verify Reset Code | E-Learning
{% endblock %}


{% block content %}

<div class="form-card">


    <h1>
        Verify Reset Code
    </h1>


    <p class="form-subtitle">
        Enter the 6-digit verification code
        we sent to your email address.
    </p>


    {% if error %}

        <div class="message error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST">

        {% csrf_token %}


        <p>

            <label for="otp">
                Verification Code
            </label>

            <input
                type="text"
                id="otp"
                name="otp"
                maxlength="6"
                placeholder="Enter 6-digit code"
                required
            >

        </p>


        <button
            type="submit"
            class="btn btn-primary"
        >
            Verify Code
        </button>


    </form>


    <div style="
        margin-top: 20px;
        text-align: center;
    ">

        <a href="{% url 'forgot_password' %}">
            Request another code
        </a>

    </div>


</div>

{% endblock %}