<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}E-Learning{% endblock %}</title>
</head>

<body>


<nav>
    <h2>E-Learning</h2>

    <a href="{% url 'home' %}">Home</a>
    |
    <a href="{% url 'course-list' %}">Courses</a>
    |
    <a href="{% url 'course-add' %}">Add Course</a>
    |
    <a href="{% url 'about' %}">About</a>
    |
    <a href="{% url 'contact' %}">Contact</a>

    {% if user.is_authenticated %}
        |
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
        |
        <a href="{% url 'logout' %}">Logout</a>



     {% else %}

        |
        <a href="{% url 'signup' %}">Sign Up</a>
        |
        <a href="{% url 'login' %}">Login</a>

    {% endif %}
</nav>
<hr>

{% block content %}
{% endblock %}


</body>
</html>
